@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

body {
	position: absolute;
	width: 640px;
	height: 360px;
	background-color: #000;
	color: #fff;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 40px;
	text-shadow: 0 1px 1px #000;
	border-style: solid;
}

.title {
	margin: 15px;
	font-size: 60px;
}

.question {
	margin: 15px;
	font: 20px;
}

.warning {
	margin: 15px;
	font: italic 15px;
}

.continue {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 20px;	
};

ul {
	-webkit-column-count:2;
	column-count:2;
	height:
}
li {
	font: 20px;
	list-style-type: none;
}

li:hover {
	background-color: #404040;
}

a {
	color: #fff;
	font: 20px;
}