/* 
    Document   : my
    Created on : Sep 24, 2013, 12:28:14 AM
    Author     : stevenlizarazo
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'Multi';
    src: local('Multi Bold'), local('Multi-Bold'), url(ml.ttf) format('woff');
}
@font-face {
    font-family: 'Multi';
    src: local('Multi Light'), local('Multi-Light'), url(ml.ttf) format('woff');
}

    body,html,td,table,div,th,font,h2,div,a,thead,tbody{
        font-family: 'Multi', Arial;*



    }

root { 
    display: block;
}
body{padding: 0px; margin: 0px;}

div {
    font-size:60px;
/*    border:1px solid red;*/
border-bottom: 1px solid  lightslategrey;
    }
    
#number{
    position:absolute;
    left:450px;
    top:20px;
    width: 150px;
     text-align:  right;
      
}


#avg{
    position:absolute;
    left:450px;
    top:90px;
        width: 150px;
     text-align:  right;

}
    
#number_tit{
    position:absolute;
    left:310px;
        width: 150px;
        top:20px;
     text-align:  right;
 
}


#avg_tit{
    position:absolute;
    left:310px;
    top:90px;
         width: 150px;
     text-align:  right;

}

#himage{    position:absolute;
    left:605px;
    top:35px;
}
#log{
    position: absolute;
    left: 20px;
    top:240px;
    width:200px;
    height: 220px;
    border: 1px solid  darkgray;
     font-size: 32px;
      
      
}    
#log p{
/*    border: 1px solid red;
    */
    margin: 0px;}
    
.warn{
    
    color: red ;
}